language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  
addons:
  code_climate:
    repo_token: c2c3acbf91df2bcaff077947f04e3de005c40cb39630856a38cca24439ec1499

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --dev

script:
  - vendor/bin/phpunit -v --debug --color --coverage-clover build/logs/clover.xml
  
after_script:
  - vendor/bin/test-reporter
